@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Largeur de la barre de défilement */
    .scrollbar::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    /* Piste de la barre de défilement */
    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #f7f4ed;
    }

    /* Pouce de la barre de défilement */
    .scrollbar::-webkit-scrollbar-thumb {

        border-radius: 100vh;
        border: 2px solid #f6f7ed;
    }

    /* Effet hover sur le pouce */
    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(to bottom, #3d9d94, #1976D2);
    }
}

/* Pour Firefox */
@supports (scrollbar-color: #E5E7EB #f6f7ed) {
    * {
        scrollbar-color:#E5E7EB #f6f7ed;
        scrollbar-width: thin;
    }
}